<%= link_to island_path(island), class:'text-decoration-none' do %>
    <% if island.photos.any? %>
        <%= cl_image_tag island.photos.first.key, height: 130, width: 190, crop: :fill, class:"radius-top" %>
        <strong><p class="popup-name color-black border-0"><%= island.name %></p></strong>
        <p class="popup-location color-black"><%= island.location %></p>
    <% end %>
<% end %>