<div class="home-banner">
  <h1>MY ISLAND</h1>
</div>

<div class="container">
	<div class="islands-bar d-flex justify-content-between">
	  <h1>Islands</h1>
	</div>
	<div>
		<ul>
		  <% @islands.each do |island| %>
		  	<li><%= link_to island.name, island_path(island) %> : <%= island.location %></li>
		  <% end %>
		</ul>
	</div>

	<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
	</div>
	
</div>