<div class="footer text-body">

  <div class="footer-links">
    <span class="">Find Us:</span>
    <a href="https://github.com/Satineee/MY_ISLAND"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Bonjour <i class="fas fa-heart"></i> Le Wagon
  </div>
</div>