<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github text-primary"></i></a>
    <a href="#"><i class="fab fa-instagram text-primary"></i></a>
    <a href="#"><i class="fab fa-facebook text-primary"></i></a>
    <a href="#"><i class="fab fa-twitter text-primary"></i></a>
    <a href="#"><i class="fab fa-linkedin text-primary"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>