

<!-- <div class="search-bar">
  <#%= form_with url: "/search", method: :get do |form| %>
  <#%= form.label :query, "Search for:" %>
  <#%= form.text_field :query %>
  <#%= form.submit "Search" %>
<#% end %>
</div>
 -->
 <div id="bannerhomepage" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.pexels.com/photos/164041/pexels-photo-164041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
    <h1 class="position-absolute"> Louez des iles entieres <br>
      pour des experiences inoubliables!<br>
     <button type="button" class="btn btn-light"> <%= link_to 'All Islands', islands_path, style:"font-size:30px;" %></button> 
    </h1> 
</div>

<div id="explore" class="explore">
<h1>Explore these regions </h1>
</div> 
 


