.home-banner {
  background-image: url('https://cdn.getyourguide.com/img/country/5d0a4b5ceab4d.jpeg/88.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}