// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "map";
@import "container";
@import "cards";

@import "footer";
@import "base";

.index-banner {
    margin-top: 10px;
}

.title {
    color: black;
}


#map {
    position: sticky;
    top: 0;
}

.container-island {
    margin-left: 50px;
    margin-right: 50px;
}

.card-island {
    padding: 20px;
    background-color: rgb(253, 248, 239);
    margin-bottom: 20px;
    border-radius: 10px;
}

.text-name {
    font-family:'Adobe Fan Heiti Std B', Adobe Fan Heiti Std B, monospace;
    font-size: 25px;
}

#text-location {
    font-size: 20px;
}

.color-black {
   color: black;
}

.border-radius {
    border-radius: 10px;
}