.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: rgb(253, 248, 239) !important;
  border-radius: 10px !important;
  border: none !important;
  padding: 0 !important;
}

.popup-name {
  padding-top: 5px;
  font-family:'Adobe Fan Heiti Std B', Adobe Fan Heiti Std B, monospace;
  font-size: 15px;
}

.popup-location {
  font-family:'Adobe Fan Heiti Std B', Adobe Fan Heiti Std B, monospace;
  font-size: 14px;
}

.radius-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 5px;
}